.hero_section{
    background-color: var(--hero-bg);
}

.hero_content h2{
    font-size: 2.5rem;
    color: var( --primary-color);
    font-weight: 600;
    margin: 20px 0;
}


.hero_content p{
    color: var(--primary-color);
    line-height: 28px;
}


.hero_content p:nth-child(1){
  font-weight: 500;
}

.button_area{
    margin-top: 20px;
}

.shop_button{
    padding: 5px 10px;
    font-size: 1rem;
    color: #fff; 
    border-radius: 6px;
    background-color: var(--primary-color);

}


.hero_content{
    margin-top: 55px;
}

.section_title{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
}


.timer_count{
    background-color: var(--primary-color);
    height: 300px;
}

.timer_count img{
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.timer_button{
    border: none;
    outline: none;
    background-color: #fff;
    color: var(--primary-color);
}

.timer_button :hover{
    color: var(--primary-color);
}



@media only screen and (max-width:984px) {
    .hero_content h2{
        font-size: 1.6rem;
    }

    .hero_content{
        margin-top: 0px;
    }

    .hero_content p{
        color: var(--primary-color);
        line-height: 25px;
        font-size: 0.9rem;
    }

    .section_title{
        font-size: 1.4rem;
    }

    .text-end{
        display: none;
    }

    .clock_top_content{
        text-align: center;
    }

    .timer_count_botton{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}



@media only screen and (max-width:768px) {
    .clock_top_content h4{
        font-size: 0.9rem !important;
    }

    .clock_top_content h3{
        font-size: 1.2rem !important;
    }

    .timer_button{
        font-size: 0.8rem !important;
    }
}
