.product_deteles_content{
    margin-top: 70px;
}

.product_name{
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.short_dec{
    margin-bottom: 1rem;
}


.retting{
    display: flex;
    align-items: center;
    gap: 2rem;
}


.retting span{
    color: rgb(223, 127, 2);
}


.price{
    color: var(--primary-color);
    margin: 10px 0;
    font-weight: 600;
    font-size: 1.5rem;
}


.category{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.increment_box{
    border: 1px solid var(--primary-color);
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin: 20px 0;
}

.increment_box button{
    border: none;
    outline: none;
    padding: 5px 8px;
    background-color: transparent;
}

.increment_box span{
    border-right: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
}

.increment_box button:hover{
    background: var(--primary-color);
    color: #fff;
}


.add_button{
    padding: 5px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    margin-top: 25px;
}